[*.cs]
insert_final_newline = false

# RS0030: Do not use banned APIs
# We want to display local datetimes instead of UTC datetimes because Leap local dev is a client application
dotnet_diagnostic.RS0030.severity = none